
body {
  font-family: "freePixel";
  text-align: center;
  color: white;
   background-image: url("https://cleverusername.neocities.org/Images/Background.png");
  background-repeat: repeat;
   }

 @font-face {
    font-family: "freePixel";
    src: url("Images/FreePixel.ttf") format("truetype");
 }

a:link {
  color: deeppink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
 .boxed {
   width: 300px;
  height: 100px;
  border: 5px solid hotpink; 
 box-sizing: border-box;
position: absolute;
    left: 500px;
    top: 700px;
    z-index: -1;
   
}
.container {
  position: absolute;
  text-align: center;
  width: 1500px;height: 700px;  left:20px; top: 5px;
} 
.Top {
  position: relative;
 top: 145px;
  left: 180px;
font-size: 20px;
  text-decoration: underline;
}




